/* Abhaysinh Solanki 8754050 Email:asolanki4050@conestogac.on.ca*/
body{
    width: 1100px;
    margin: 10px auto;
    box-shadow: 0 0 10px black;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

header, footer{
    background-color: #4177a4;
    padding: 10px 0;
    text-align: center;
    color: white;
}

header h2{
    font-size: 32px;
}

nav{
    background-color: #9bbbe1;
    padding: 5px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    position: relative;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: bold;
}

main h1{
    color: #113253;
    font-size: 32px;
    text-align: center;
}

aside h2{
    color: #113253;
    font-size: 28px;
    text-align: center;
}

.home>header{
    grid-area: gridheader;
}
.home>nav{
    grid-area: gridnav;
}
.home>main{
    grid-area: gridmain;
}
.home>aside{
    grid-area: gridaside;
}
.home>footer{
    grid-area: gridfooter;
}

.home{
    display: grid;
    grid-template-areas: 
        "gridheader gridheader gridheader"
        "gridnav gridnav gridnav"
        "gridmain gridmain gridaside"
        "gridfooter gridfooter gridfooter"
    ;
}

.home aside{
    background-color:#b4d1f2;
    padding: 0 20px 20px 20px;
}
.home main{
    padding: 0 15px 10px 0;
}

/* Add CSS here */
.submenu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .submenu-content {
    display: none;
    position: absolute;
    background-color: #9bbbe1 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .submenu-content a:hover {background-color: #4177a4;}

.submenu:hover .submenu-content {display: block;}

  input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 4px dashed white;
    text-align: left;
    padding: 8px;
  }
  
 form{
     text-align: center;
 }

 * {
    box-sizing: border-box;
  }
  
  
  
  /* Clearfix (clear floats) */
  

  .photos{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 10px;
   
}
.photo>img{
    width: 100%;
}

@media only screen and (max-width: 600px) {

    /* Add responsive CSS here */
    
    nav a{
        padding: 0 20px; 
    }
    
    aside{
        width: 100%; 
    }
    .photos {
        grid-template-columns: 1fr 1fr;
    }
    
    .home{
        display: block;
        width: 100%;
    }

}
@media only screen and (max-width: 280px) {

    /* Add responsive CSS here */
    .imagesfile{
        width: 100%;
    }
    .photos {
        grid-template-columns: 1fr;
    }
    

}


